@page "/counter3"
@using System.Reflection
<h3>Counter3 from @Assembly.GetExecutingAssembly().GetName().Name</h3>
<br />
<br />
@SharedCounterService.GetCounter()
<button @onclick="Inc">Increment Shared Counter</button>
<br />
<br />
@_moduleOnlyService.GetNext()
<button @onclick="Inc2">Increment Module Counter</button>
<br />
<br />
@_testService.GetVal()
<button @onclick="Inc3">Increment Counter service (TestService) which is implemented with (ITestService)</button>
<br />
<br />
@GooseService.GetVal()
<button @onclick="Dec1">Service installed with the IModuleInstaller when the module is loaded</button>